PowerPlatform/RRHH-GestionContratos/RRHH-GestionContratos/Workflows/ComprobarContrato-E0C07AF2-9E12-F111-8407-7C1E522013B5.json
{
  "properties": {
    "connectionReferences": {
      "shared_office365": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedoffice365_aa4d7"
        },
        "api": {
          "name": "shared_office365"
        }
      },
      "shared_sharepointonline": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedsharepointonline_537a3"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      },
      "shared_approvals": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedapprovals_1e8ca"
        },
        "api": {
          "name": "shared_approvals"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "When_a_new_email_arrives_(V3)": {
          "splitOn": "@triggerOutputs()?['body/value']",
          "metadata": {
            "Id::AQMkAGY3ZTNhMWJlLTYwNTItNGY3NS04NTY4LWIzYWU5MWJmZGYwYwAuAAADHEd4x5CLw0_yRrjStUmPbQEA6Hjm65vwzUi1YUf7UGGGVAAAAgEMAAAA": "Bandeja de entrada"
          },
          "type": "OpenApiConnectionNotification",
          "inputs": {
            "parameters": {
              "includeAttachments": true,
              "subjectFilter": "Contrato",
              "fetchOnlyWithAttachment": true,
              "folderPath": "Id::AQMkAGY3ZTNhMWJlLTYwNTItNGY3NS04NTY4LWIzYWU5MWJmZGYwYwAuAAADHEd4x5CLw0_yRrjStUmPbQEA6Hjm65vwzUi1YUf7UGGGVAAAAgEMAAAA"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
              "operationId": "OnNewEmailV3",
              "connectionName": "shared_office365"
            }
          }
        }
      },
      "actions": {
        "Filtrar_contratos": {
          "actions": {
            "For_each": {
              "foreach": "@triggerOutputs()?['body/attachments']",
              "actions": {
                "Crea_el_contrato_firmado_en_la_biblioteca": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "dataset": "https://tajamar365.sharepoint.com/sites/ContratosRRHH",
                      "folderPath": "/Contratos por revisar",
                      "name": "@item()?['name']",
                      "body": "@base64ToBinary(items('For_each')?['contentBytes'])"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                      "operationId": "CreateFile",
                      "connectionName": "shared_sharepointonline"
                    }
                  },
                  "runtimeConfiguration": {
                    "contentTransfer": {
                      "transferMode": "Chunked"
                    }
                  }
                },
                "Get_file_properties": {
                  "runAfter": {
                    "Crea_el_contrato_firmado_en_la_biblioteca": [
                      "Succeeded"
                    ]
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "dataset": "https://tajamar365.sharepoint.com/sites/ContratosRRHH",
                      "table": "deeb654f-f3d4-49c9-932c-1fa73eef28ad",
                      "id": "@outputs('Crea_el_contrato_firmado_en_la_biblioteca')?['body/ItemId']"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                      "operationId": "GetFileItem",
                      "connectionName": "shared_sharepointonline"
                    }
                  }
                },
                "Espera_la_aprobación_del_contrato_firmado": {
                  "runAfter": {
                    "Get_file_properties": [
                      "Succeeded"
                    ]
                  },
                  "type": "OpenApiConnectionWebhook",
                  "inputs": {
                    "parameters": {
                      "approvalType": "Basic",
                      "WebhookApprovalCreationInput/title": "Revisar contrato firmado: @{items('For_each')?['name']}",
                      "WebhookApprovalCreationInput/assignedTo": "3524oscorplabs@tajamar365.com",
                      "WebhookApprovalCreationInput/details": "Se ha recibido el contrato firmado del candidato. Por favor, revisa el enlace adjunto para verificar la firma.",
                      "WebhookApprovalCreationInput/itemLink": "@outputs('Get_file_properties')?['body/{Link}']",
                      "WebhookApprovalCreationInput/itemLinkDescription": "Revisar contrato en SharePoint",
                      "WebhookApprovalCreationInput/enableNotifications": true,
                      "WebhookApprovalCreationInput/enableReassignment": true
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_approvals",
                      "operationId": "StartAndWaitForAnApproval",
                      "connectionName": "shared_approvals"
                    }
                  }
                },
                "For_each_1": {
                  "foreach": "@outputs('Espera_la_aprobación_del_contrato_firmado')?['body/responses']",
                  "actions": {
                    "Condition": {
                      "actions": {
                        "Mover_contrato": {
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "dataset": "https://tajamar365.sharepoint.com/sites/ContratosRRHH",
                              "parameters/sourceFileId": "@outputs('Crea_el_contrato_firmado_en_la_biblioteca')?['body/Id']",
                              "parameters/destinationDataset": "https://tajamar365.sharepoint.com/sites/ContratosRRHH",
                              "parameters/destinationFolderPath": "/Contratos Firmados",
                              "parameters/nameConflictBehavior": 2
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                              "operationId": "MoveFileAsync",
                              "connectionName": "shared_sharepointonline"
                            }
                          }
                        }
                      },
                      "else": {
                        "actions": {}
                      },
                      "expression": {
                        "and": [
                          {
                            "equals": [
                              "@outputs('Espera_la_aprobación_del_contrato_firmado')?['body/outcome']",
                              "Approve"
                            ]
                          }
                        ]
                      },
                      "type": "If"
                    }
                  },
                  "runAfter": {
                    "Espera_la_aprobación_del_contrato_firmado": [
                      "Succeeded"
                    ]
                  },
                  "type": "Foreach"
                }
              },
              "type": "Foreach"
            }
          },
          "runAfter": {},
          "else": {
            "actions": {}
          },
          "expression": {
            "or": [
              {
                "equals": [
                  "@contains(triggerOutputs()?['body/subject'], 'Contrato Firmado')",
                  true
                ]
              },
              {
                "equals": [
                  "@triggerOutputs()?['body/subject']",
                  "Contrato de Trabajo "
                ]
              }
            ]
          },
          "type": "If"
        }
      },
      "outputs": {}
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}