PowerPlatform/RRHH-GestionContratos/RRHH-GestionContratos/Workflows/Enviarcdigoverificacinnmina-6477259D-F5F6-F011-8406-0022489D7694.json
{
  "properties": {
    "connectionReferences": {
      "shared_office365": {
        "api": {
          "name": "shared_office365"
        },
        "connection": {
          "connectionReferenceLogicalName": "new_sharedoffice365_aa4d7"
        },
        "runtimeSource": "invoker"
      },
      "shared_commondataserviceforapps": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "new_sharedcommondataserviceforapps_90dd3"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "actions": {
        "List_rows": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "ol_empleados",
              "$filter": "ol_Correo eq @{triggerBody()?['text']}"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "connectionName": "shared_commondataserviceforapps"
            }
          },
          "runAfter": {}
        },
        "Condición": {
          "type": "If",
          "expression": {
            "and": [
              {
                "greater": [
                  "@length(outputs('List_rows')?['body/value'])",
                  0
                ]
              }
            ]
          },
          "actions": {
            "Initialize_variable": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "codigoVerificacion",
                    "type": "integer",
                    "value": "@rand(100000,999999)\r\n"
                  }
                ]
              }
            },
            "Send_an_email_(V2)": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "emailMessage/To": "@triggerBody()?['text']",
                  "emailMessage/Subject": "Código de verificación – Acceso a nómina\n",
                  "emailMessage/Body": "<p class=\"editor-paragraph\">Hola,<br><br>Has solicitado acceder a tu nómina.<br><br>Tu código de verificación es:<br><br>@{variables('codigoVerificacion')}<br><br>Este código es válido durante unos minutos.<br>Si no has solicitado este acceso, ignora este mensaje.<br><br>RRHH</p><br>",
                  "emailMessage/Importance": "Normal"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                  "operationId": "SendEmailV2",
                  "connectionName": "shared_office365"
                }
              },
              "runAfter": {
                "Initialize_variable": [
                  "SUCCEEDED"
                ]
              }
            },
            "Respond_to_the_agent": {
              "type": "Response",
              "kind": "Skills",
              "inputs": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "codigo": {
                      "title": "codigo",
                      "description": "",
                      "type": "number",
                      "x-ms-content-hint": "NUMBER",
                      "x-ms-dynamically-added": true
                    }
                  },
                  "additionalProperties": {}
                },
                "statusCode": 200,
                "body": {
                  "codigo": "@variables('codigoVerificacion')"
                }
              },
              "runAfter": {
                "Send_an_email_(V2)": [
                  "SUCCEEDED"
                ]
              }
            }
          },
          "else": {
            "actions": {
              "Responder_al_agente": {
                "type": "Response",
                "kind": "Skills",
                "inputs": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "codigo": {
                        "title": "codigo",
                        "description": "",
                        "type": "number",
                        "x-ms-content-hint": "NUMBER",
                        "x-ms-dynamically-added": true
                      }
                    },
                    "additionalProperties": {}
                  },
                  "statusCode": 200,
                  "body": {
                    "codigo": "NoEncontrado"
                  }
                }
              }
            }
          },
          "runAfter": {
            "List_rows": [
              "SUCCEEDED"
            ]
          }
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "Skills",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "description": "Introduzca su entrada",
                  "title": "email",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "required": [
                "text"
              ]
            }
          }
        }
      },
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "outputs": {}
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}